<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ru.redspell.lighttest"
      android:versionCode="1"
      android:versionName="1.0">

    <application android:label="light test" android:icon="@drawable/icon" android:debuggable="true">
				<activity android:name="LightTest" android:label="light test" android:screenOrientation="landscape" android:configChanges="orientation" android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.tapjoy.TJCOffersWebView" android:configChanges="keyboardHidden|orientation" />
				<activity android:name="com.supersonicads.sdk.android.WebViewActivity" android:configChanges="orientation" android:hardwareAccelerated="true"></activity>

        <activity android:name="com.facebook.LoginActivity"/>
		<activity android:name="com.sponsorpay.sdk.android.publisher.OfferWallActivity" android:configChanges="orientation"/>
		<activity android:name="com.vk.sdk.VKOpenAuthActivity" />


			<supports-screens 
					android:resizeable="false"
					android:smallScreens="true"
					android:normalScreens="true"
					android:largeScreens="true"
					android:xlargeScreens="true"
					android:anyDensity="true"
				/>

		<receiver android:name="ru.redspell.lightning.LightNotificationsReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>

		<meta-data android:name="com.google.android.gms.games.APP_ID" android:value="ru.redspell.lighttest" />

    <service android:name="ru.redspell.lightning.expansions.LightExpansionsDownloadService"/>
    <receiver android:name="ru.redspell.lightning.expansions.LightExpansionsAlarmReceiver"/>

		<receiver 
			android:name="ru.redspell.lightning.plugins.GcmBroadcastReceiver"
			android:permission="com.google.android.c2dm.permission.SEND" >
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="ru.redspell.lighttest"/>
			</intent-filter>
		</receiver>

		<receiver android:name = "com.amazon.inapp.purchasing.ResponseReceiver" >
          <intent-filter>
            <action android:name = "com.amazon.inapp.purchasing.NOTIFY" android:permission = "com.amazon.inapp.purchasing.Permission.NOTIFY" />
          </intent-filter>
        </receiver>		

			<!--service android:name="ru.redspell.lightning.payments.BillingService" /-->
			<!--activity android:name="com.mopub.mobileads.MoPubActivity" android:configChanges="keyboardHidden"/>
			<activity android:name="com.mopub.mobileads.MraidActivity" android:configChanges="keyboardHidden|orientation"/>
			<activity android:name="com.mopub.mobileads.MraidBrowser" android:configChanges="keyboardHidden|orientation"/>
			<activity android:name="com.google.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|screenLayout|uiMode|screenSize|smallestScreenSize"/-->
    </application>

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="com.android.vending.BILLING" />
	<uses-permission android:name="com.android.vending.CHECK_LICENSE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.GET_TASKS"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>



	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />



	<uses-feature android:glEsVersion="0x00020000"></uses-feature>
	<uses-sdk android:targetSdkVersion="14" android:minSdkVersion="8"></uses-sdk>


</manifest>
